<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Studios</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>

        <button ion-item *ngFor="let studio of studios" (click)="openStudioDetail(studio)">
            <ion-avatar item-left>
                <img src="{{studio.picture}}"/>
            </ion-avatar>
            <h2>{{studio.name}}</h2>
            <p>{{studio.address}} {{studio.phone}}</p>
        </button>

    </ion-list>

<!-- Add the Google Map -->

        <div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div>

</ion-content>

<ion-footer padding>
    <ion-segment [(ngModel)]="viewMode">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map" (ionSelect)="showMap()">
            <ion-icon name="map"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>


